li {
    list-style: none;
    margin: 5px;
}

.tasks--list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid 1px silver;
    margin: 2px;
    width: 300px;
}

.tasks {
    display: flex;
    flex-direction: column;
    margin: 20px;
}